* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  overflow: hidden  ;
}
body {
  font-family: IRANYekan;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #fdfdfd, #eaf6ff);
  background-attachment: fixed;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  /* background: url("../IMG_2224.JPG") center center / contain no-repeat fixed; */

  /* backdrop-filter: blur(1px); */
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: -1;
  background-image: url("../IMG_2224.JPG");
  background-position: center center;
  /* background-repeat: no-repeat; */
  background-size: auto 100%;
  background-attachment: fixed;
  /* opacity: 0.8; */
  filter: blur(1.5px);
  /* background-color: black; */
}

header {
  padding: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  position: fixed;
  width: 100%;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  background: rgb(255 255 255 / 40%);
  /* backdrop-filter: blur(2px); */
  color: white;
}



input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
input:focus {
  border-color: #0078d7;
  outline: none;
}

input::placeholder {
  text-align: right;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  background: #093559;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #005a9e;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.error {
  background: #cc0000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin: 0.5rem;
  padding: 0 1rem;
  border-radius: 0.25rem;
}

.success {
  color: #003d00;
  font-size: 2rem;
  margin-top: 10px;
  font-weight: bold;
}

.hidden {
  display: none;
}
